/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
$nl_gris: #697884;
$nl_bleu: #6FBFEC;
$nl_blanc: #FFF;
$nl_blanc_casse: #DDD;
$nl_fond: #F6F6F6;
$nl_noir: #444444;
$nl_footer: #252425;
$nl_separateur: #585858;
//$topbar-bg: #697884;
