/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// panel
.panel
{
    margin-bottom: $panel_margin;

    h1, h2, h3, h4
    {
        color: $nl_bleu;
    }
}

// panel callout
.panel.callout
{
    border-color: $nl_gris;
    background-color: $nl_gris;
    margin: $panel_callout_margin;

    h1, h2, h3, h4
    {
        color: $nl_bleu;
    }

    p
    {
        font-family: $panel_callout_font_family;
        font-size: $panel_callout_font_size;
        color: $nl_blanc_casse;
    }
}


//
$include-html-button-classes: $include-html-classes;
$button-font-color: #444;

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */


// Header 

#entete_contact
{
    background-image: $entete_contact_background_image;
    background-position: $entete_contact_background_position;
    background-repeat: $entete_contact_background_repeat;
    background-color: $entete_contact_background_color;
    height: $entete_contact_hauteur;
    ul
    {
        margin-top: $entete_contact_margin;
        margin-right: $entete_contact_margin;
    }
    a
    {
    }
    i
    {
        font-size: $entete_contact_font_size;
        color: $entete_contact_font_color;
        font-style: $entete_contact_font_style;
    }
}

nav
{
    background-image: $menu_background_image;
    background-position: $menu_background_position;
    background-repeat: $menu_background_repeat;
}

.top-bar
{
    background-image: $menu_background_image;

}

.top-bar-container
{
    background-image: $menu_background_image;
    margin-bottom: $menu_margin;
}

.top-bar-section li:not(.has-form) a:not(.button) 
{
    background-image: $menu_background_image;
}
// Sidebar

// Footer
.separateur
{
    border: $separateur_border;
    border-color: $separateur_border_color;
    margin-bottom: $separateur_margin;
}

footer
{
    margin-top: $footer_margin;
    background-color: $footer_background_color;
    font-family: $footer_font_family;
    font-weight: $footer_font_weight;
    color: $footer_font_color;

    ul
    {
        margin-top: $footer_margin;
    }
}


footer h1, footer h2, footer h3, footer h4, footer h5, footer h6
{
    color: $footer_h_font_color;
    text-transform: $footer_h_text_transform;
    padding-top: $footer_h_padding;
}

footer a
{
    color: $footer_font_color;
    font-size: $footer_font_size;
}

#copyright   
{
    line-height: 1;
    color:#888888;
    font-size: 12px;
    font-style: italic;
}

#vers_haut
{
    background: $vers_haut_background;
	cursor: pointer; 
	width: $vers_haut_width;
	display:block;  
	float: right; 
}




/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */

    /**
     * Body
     * ------------------------------------
     */
    body
    {
        font-family: $body_font_familly;
        font-size: $body_font_size;
        line-height: $body_line_height;
        color: $body_font_color;
        background: $body_background_color $body_background_image;

    }

    /**
     * h1, h2,.... 
     *--------------------------------------
     */
    h3, h4
    {
        color: $nl_bleu;
    }

    .panel h1, .panel h2, .panel h3
    {
        color: $nl_bleu;
    }

     /**
	 * 4.1 Pages
	 * ------------------------------------
	 */
    
     // localisation
     #map-canvas // impossible a foutre se putain de zoom google 
     {
         img 
         {
            max-width: none;
         }
     }
     .accordion .content.active 
     {
         margin-bottom: $localisation_accordion_margin;
     }
     .tabs
     {
         width: $localisation_tabs_width;
         margin-left: auto;
         margin-right: auto;

         dd > a
         {
            color: $nl_bleu;
            text-transform: uppercase;
            font-weight: bold;
         }

     }
     
    .tabs dd.active a 
    {
         background-color: $nl_blanc_casse;
     }

     .tabs-content > .content.active
     {
         background-color: $nl_blanc_casse;
         p, ul
         {
             padding-left: $localisation_content_padding;
         }
     }

     #choix_depart
     {
        margin-left: $localisation_choix_margin;
        margin-top: $localisation_choix_margin;
     }

     #localisation_distances
     {
         width: $localisation_distances_width;
         height: $localisation_distances_height;
     }

     // Appartements

	 // Hero

	#homepage-hero {
		background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
		padding: rem-calc(20) 0;
		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
		height: auto;

			h1 a, h4 { color: #fff; }

			.floatingyeti img {
				max-width: 30%;
				position: absolute;
				right: rem-calc(100);
			}

			.download { margin-top: rem-calc(20); }
		}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here
